{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
<h1>About us</h1>
<p>Meets with clients to determine travel needs, budgets and preferences. Sells and coordinates transportation, accommodations, insurance, tours and activities. Advises clients regarding destinations, cultures, customs, weather and activities. Collects payments, books travel arrangements and pays applicable fees.</p>
{% endblock %}
